{% extends "base.html" %}

{% block lab %}Холодильник{% endblock %}

{% block main %}
    <h1>Холодильник</h1>
    
    <form method="post" style="text-align: center;">
        <input type="number" name="temp" placeholder="Температура" value="-5">
        <button type="submit">Установить</button>
    </form>
    
    {% if error %}
        <div style="color: red;">
            {{ error }}
        </div>
    {% endif %}
    
    {% if result %}
        <div style="color: green;">
            {{ result }}
        </div>
    {% endif %}
    
    <div>
        <a href="/lab4/">Вернуться к заданиям</a>
    </div>
{% endblock %}