{% extends "base.html" %}

{% block lab %}Срубить дерево{% endblock %}

{% block main %}
    <div>
        Посажено деревьев: {{ tree_count }}
    </div>
    
    <div style="text-align: center;">
        <form method="post" style="display: inline-block;">
            <button name="operation" value="plant">Посадить дерево</button>
            <button name="operation" value="cut">Срубить дерево</button>
        </form>
    </div>
    
    <div>
        <a href="/lab4/">Вернуться к заданиям</a>
    </div>
{% endblock %}