<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Шельмин Артём. Лабораторная работа {{ lab_number }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <header>
        WEB-программирование, часть 2. Лабораторная работа {{ lab_number }}
    </header>

    <main>
        <h2>Результаты вычислений:</h2>
        <ul>
            <li>11 × 28 = {{ 11 * 28 }}</li>
            <li>3258 - 759 = {{ 3258 - 759 }}</li>
            <li>8452 / 793 = {{ "%.2f" % (8452 / 793) }}</li>
            <li>45<sup>8</sup> = {{ 45**8 }}</li>
        </ul>
    </main>

    <footer>
        &copy; {{ name }}, {{ group }}, {{ course }} курс, 2025
    </footer>
</body>
</html>